.navbar{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color:#ffffff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.mainbar{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.logo{
   
}
.redefinder{
    width: 100px;
    font-size: xx-large;
    margin-bottom: 1rem;
    padding-top: 1rem;
}
.def{
    width: 250px;
}
.first{
    color: black;
    margin-top: 1.5rem;
}
.plan1{
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;

}
.def2{
    width: 200px;
    padding-top: 6rem ;
    color: #464646;
    font-size: large;
}
.aer{
    width: 100px;
    font-size: xx-large;
}
.def3{
    font-size: large;
}
.second{
    color: black;
}
.back{
    background-image: url(./assets/images/backplane.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px;
    width: 325px;
    height: 600px;
    margin-top: 1.5rem;
    border-radius: 20px;
}
.cut{
    width: 200px;
    font-size: xx-large;
    padding: .5rem .5rem;
}
.whit{
    background-color: #ffffff;
    width: 100px;
    height: 190px;
    margin-left: 9%;
    margin-top: 50%;
    width: 270px;
    height: 320px;
    border-radius: 20px;
}
.advance{
    padding-left: 7%;
    padding-top: 5%;
}
.def4{
    padding-left: 7%;
    width: 150px;
    color: #464646;
    font-size: large;
    padding-bottom: 10px;
}
.card{
    margin-top: 50px;
    background-color: #f6f6f6;
}
.engine{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.mat{
    padding-left: 9%;
}
.def5{
    width: 250px;
    padding-left: 9%;
    color: #464646;
}
.black{
    width: 100%;
    height: 100%;
    border-radius: 20px;   
}
.card2{
    margin-top: 50px;
    background-color: black;
}
.mat1{
    color: #f6f6f6;
    padding-left: 9%;
}